.container {
    flex: 1;
    background-color: #fff;
    padding: 20px;
  }
  
  .banner {
    height: 200px;
    margin-bottom: 20px;
  }
  
  .image {
    width: 300px;
    height: 200px;
    margin-right: 10px;
  }
  
  .cardContainer {
    margin-bottom: 20px;
  }
  
  .row {
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .card {
    flex: 1;
    background-color: #ccc;
    margin-right: 10px;
    height: 100px;
  }
  
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .menuItem {
    font-size: 20px;
    font-weight: bold;
  }
  